[Unit]
Description=SeismoHome service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=YOUR DIRECTORY HERE/SeismoHome-1.0.0-Linux-armv7l
ExecStart=sudo YOUR DIRECTORY HERE/SeismoHome/SeismoHome-1.0.0-Linux-armv7l/SeismoHome-1.0.0-Linux-armv7l
RestartSec=5

[Install]
WantedBy=multi-user.target