:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #221e2a;
    color: white;
}

h2 {
    padding: 0 0.5em;
}

h3 {
    padding: 0 0.5em;
}

canvas {
    padding-top: 0.2em;
    width: 100%;
    height: 5em;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.sub-container {
    padding: 0.5em;
    flex: 1 0 50%;
}

.headers-container {
    padding: 0 0.5em;
    flex: 1 0 50%;
}

.fft-separator {
    padding-top: 0;
    padding-bottom: 0.5em;
}

.fft-container {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.fft-text-top {
    position: absolute; top: 0; left: 0;
    padding-left: 1em;
}

.fft-text-bottom {
    position: absolute; bottom: 0; left: 0;
    padding-left: 1em;
}

.fft-label {
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    flex: 1 0 50%;
    padding-left: 0.5em;
}

#accelerations-plot {
    width: 100%;
    height: 15em;
    padding-bottom: 2em;
    display: inline-block;
}

button {
    background: #00fccb linear-gradient(to right, #00fccb, #8011f6);
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 0.8em 0.8em;
    border: 0 solid #000;
    border-radius: 0.5em;
    display: inline-block;
}

button:hover {
    background: #51fcd1 linear-gradient(to right, #51fcd1, #9252f7);
}

button:disabled {
    background: #adccc4 linear-gradient(to right, #adccc4, #9a87b7);
}

button:active {
    transform: scale(0.95);
}

.button-file {
    padding: 0.2em 0.2em;
    border-radius: 0.3em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.button-file-delete {
    background: #00fccb linear-gradient(to right, #00fccb, #FD2C7E);
}

.button-file-delete:hover {
    background: #51fcd1 linear-gradient(to right, #51fcd1, #ff6ba8);
}

.button-file-delete:disabled {
    background: #adccc4 linear-gradient(to right, #adccc4, #e092b0);
}

.slider-container {
    padding: 0.5em 1em 0.5em 0.5em;
    display: inline-block;
}

.slider {
    -webkit-appearance: none;
    width: auto;
    height: 1em;
    background: #00fccb;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:disabled {
    background: #adccc4;
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: #8011f6;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1em;
    height: 1em;
    background: #8011f6;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:disabled {
    background: #ae90ce;
}

.slider::-moz-range-thumb:disabled {
    background: #ae90ce;
}

.slider-label {
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

.selector-label {
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding-left: 0.5em;
}

.files-selector {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding: 0.2em;
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    border: 0 solid #000;
    border-radius: 0.3em;
    background: #00fccb linear-gradient(to right, #00fccb, #8011f6);
}

.file-selector-option {
    color: #fff;
    font-size: 1em;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    background: #1ACDD4
}
